<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" src={{selectedRecipe?.imagePath}} alt={{selectedRecipe?.imageAlt}}>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click) = "onAddToShoppingList()">To Shopping List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor = "let item of selectedRecipe?.ingredients">{{ item.amount }} -- {{ item.name }}</li>
    </ul>
  </div>
</div>
